<div class="container py-3">
    <h2 class="text-secondary my-4">Редактирование канала
        <router-link tag="small"
            :to="{name:'channels:list'}"
            class="float-right pointer">
            <i class="fa fa-lg fa-chevron-left pt-1"></i> Назад</router-link>
    </h2>
    <div class="row mt-4"
        v-if="channel">
        <div class="col-2 ">
            <avatar :src="'/images/channels/'+channel.telegramId+'_'+channel.photoId+'.jpg'"
                style="max-width: 200px; max-height: 200px;"
                :circle="true" />
        </div>
        <div class="col-6">
            <h4>{{channel.title}}
                <small v-if="channel.telegramId">подписчиков: {{channel.subscriberCount | cutKilo}}</small>
            </h4>
            <p>Подтвержден: {{channel.isConfirmed?'Да':'Нет'}}</p>
            <p v-html="$options.filters.parseLinks(channel.description,'Нет описания')"></p>
        </div>
        <div class="col-4">
            Автопостинг
            <on-off v-model="channel.autopost" />
        </div>
    </div>
    <h2 class="text-center">Рекламные предложения</h2>
    <div class="row my-4">
        <div class="col-4">
            <p class="text-secondary mb-1">День недели</p>
            <checkbox-group v-model="offer.weekDay">
                <norm-checkbox :name="1">Пн</norm-checkbox>
                <norm-checkbox :name="2">Вт</norm-checkbox>
                <norm-checkbox :name="3">Ср</norm-checkbox>
                <norm-checkbox :name="4">Чт</norm-checkbox>
                <norm-checkbox :name="5">Пт</norm-checkbox>
                <norm-checkbox :name="6">Сб</norm-checkbox>
                <norm-checkbox :name="7">Вс</norm-checkbox>
            </checkbox-group>
        </div>
        <div class="col-3">
            <p class="text-secondary mb-1">Часов в топе</p>
            <select v-model="offer.inTopHours"
                class="form-control form-control-lg">
                <option hidden
                    value="">Выберите значение</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <div class="col-3">
            <p class="text-secondary mb-1">Часов в ленте</p>
            <select v-model="offer.inFeedHours"
                class="form-control form-control-lg">
                <option hidden
                    value="">Выберите значение</option>
                <option value="24">24</option>
                <option value="48">48</option>
            </select>
        </div>
        <div class="col-2">
            <p class="text-secondary mb-1">Цена</p>
            <div class="input-group">
                <input v-model="offer.price"
                    class="form-control"
                    min="1"
                    max="10000000"
                    placeholder="100"
                    type="number" />
                <span class="input-group-append">
                    <span class="input-group-text">₽</span>
                </span>
            </div>

        </div>
    </div>
    <div class="row my-4">
        <div class="col-4">
            <p class="text-secondary mb-1">Время размещения</p>
            <date-input v-model="time"
                placeholder="Выберите время публикации"
                :config="config" />
        </div>

        <div class="col-4 d-flex align-items-end">
            <p class="text-secondary mb-1"></p>
            <button class="btn btn-success btn-block"
                @click="addOffer">Добавить рекламное предложение</button>
        </div>
    </div>
    <offers-list :offers="channel.channelOffer"></offers-list>

</div>