<div class="container py-3"
     v-if="channel && channel.channelId">
  <h2 class="text-secondary my-4">Редактирование канала
    <small @click="$router.go(-1)"
           class="float-right pointer">
      <i class="fa fa-lg fa-chevron-left"></i> Назад</small>
  </h2>
  <div class="row my-4">
    <div class="col-2 ">
      <avatar :src="'/images/channels/'+channel.telegramId+'/'+channel.photoId+'.jpg'"
              style="max-width: 200px; max-height: 200px;"
              @error="imageErrorHandler(channel)"
              :circle="true" />
    </div>
    <div class="col-6">
      <h4>
        <a :href="'tg://resolve?domain='+channel.username">{{channel.title}}</a>
        <i class="fa fa-database"
           v-tooltip="{template:channel.isBotApproved?'Бот Telepay является админом в вашем канале':'У бота Telepay нет доступа к постингу в вашем канале'}"
      
           :class="channel.isBotApproved?'text-success':'text-danger'"></i>
        <i class="fa fa-check-circle"
           v-tooltip="{template:channel.status===1?'Канал подтвержден модератором':channel.status===0?'Канал ожидает проверки модератором':'Ваш канал отклонен модератором, причина указана ниже'}"
      
           :class="channel.status===1?'text-success':channel.status===0?'text-muted':'text-danger'"></i>
      </h4>
      <p v-if="channel.subscriberCount && channel.telegramId !== 'default'">Подписчиков: {{channel.subscriberCount | cutKilo}}</p>
      <p v-html="$options.filters.parseLinks(channel.description,'Нет описания')"></p>
    </div>
    <div class="col-4 d-flex align-items-center">
      <b class="h4 m-0 px-2">Автомодерация</b>
      <on-off v-model="channel.isAutopost" />
      <i class="fa fa-info-circle mx-2"
         v-tooltip="{template:'После проверки поста нашими модераторами на допустимость контента, пост должен быть одобрен вами, включите эту опцию чтобы разрешить размещение постов без вашей проверки',delayOut:500}"></i>
    </div>
  </div>
  <h2>Рекламные предложения</h2>
  <div class="form-row">
    <div class="col-3">
      <div class="form-group">
        <label>Кол-во постов в сутки</label>
        <input type="number"
               min="1"
               max="24"
               step="1"
               :readonly="!editingConditions"
               :class="!editingConditions?'form-control-plaintext fa-lg':'form-control'"
               @click="editingConditions=true"
               placeholder="5"
               v-model="timeframesData.postCount">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label>Условия размещения
          <i class="fa fa-info-circle"
             v-tooltip="{template:'Время, которое пост должен быть в ленте канала на первом месте / Время поста в ленте до удаления ботом',delayOut:500}"></i>
        </label>
        <input type="text"
               class="form-control-plaintext fa-lg"
               :value="'1/'+(inFeedHours||'∞')"
               v-if="!editingConditions"
               :readonly="!editingConditions"
               @click="editingConditions=true">
        <select v-model="timeframesData.conditions"
                v-else
                class="form-control">
          <option value="24">1/24</option>
          <option value="48">1/48</option>
          <option value="never">1/∞</option>
        </select>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label>Цена за пост</label>
        <input type="number"
               :readonly="!editingConditions"
               :class="!editingConditions?'form-control-plaintext fa-lg':'form-control'"
               @click="editingConditions=true"
               placeholder="1000"
               step="1"
               min="1"
               max="1000000"
               v-model="timeframesData.postPrice">
      </div>
    </div>
    <div class="col-2"
         v-show="editingConditions">
      <label>&nbsp;</label>
      <button class="btn-success btn btn-block"
              @click="saveGlobalTimeFrames">Сохранить</button>
    </div>
    <div class="col-12">
      <p class="text-muted">
        {{dailyPostsStr}}
        <br> {{maxPostsStr}}
      </p>
    </div>
  </div>
  <!-- <h4 @click="showTimeframes=!showTimeframes"
      class="pointer underline-dash "> Расширенные настройки</h4>
  <transition name="fade">
    <timeframes :timeframes="mappedTimeframes"
                v-show="showTimeframes"
                :max-posts-str="maxPostsStr"
                :daily-posts-str="dailyPostsStr"></timeframes>
  </transition> -->
  <!-- <timeFrames-list v-if="channel && channel.channelId"
        :channel="channel"></timeFrames-list> -->
</div>