<div>
  <h4>Сброс пароля</h4>
  <br>
  <div class="form-group"
    v-show="!$route.query.code">
    <input type="text"
      placeholder="Код подтверждения"
      class="form-control form-control-lg"
      v-model="reset.code">
  </div>
  <div class="form-group">
    <input type="text"
      placeholder="Новый пароль"
      class="form-control form-control-lg"
      v-model="reset.password">
  </div>
  <div class="form-group">
    <button class="btn-outline-light btn btn-block btn-lg"
      @click="resetPass()">Установить новый пароль</button>
  </div>
  <router-link :to="{name:'login'}"
    class="float-left"><u>Войти</u></router-link>
  <router-link :to="{name:'registration'}"
    class="float-right"><u>Регистрация</u></router-link>
</div>
</div>
