<div class="container py-3">
    <h2 class="text-medium-font mb-4">Новый канал</h2>
    <div class="row mb-4">
        <div class="col-1 pr-0">
            <img class="avatar rounded-circle"
                src="http://hash-cloud.ru/tg/avatars/26dcfab7c4ed53275d1aae77f4743068.jpg"
                alt="">
        </div>
        <div class="col-2 d-flex align-items-center pl-0">
            <button class="btn btn-primary btn-sm">Загрузить аватар</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <p class="text-medium-font font-weight-500 mb-1">Юзернейм/ссылка</p>
                <input type="text"
                    class="form-control"
                    placeholder="@username или t.me/username"
                    v-model="channel.username">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <p class="text-medium-font font-weight-500 mb-1">Название</p>
                <input type="text"
                    class="form-control"
                    placeholder="Мой канал">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <p class="text-medium-font font-weight-500 mb-1">Описание</p>
                <input type="text"
                    class="form-control"
                    placeholder="Описание канала">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <p class="text-medium-font font-weight-500 mb-1">Количество участников</p>
                <input type="text"
                    class="form-control"
                    placeholder="0">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <p class="text-medium-font font-weight-500 mb-1">Категории</p>
                <selectr placeholder="Категории"
                    :html-option="true"
                    label="number"
                    :pre-options="categories"
                    :clear-query-on-select="true"
                    v-model="selectedCategory"
                    no-results-text="Категория не найден">
                    <template slot-scope="option">
                        {{option.data}}
                    </template>
                </selectr>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <p class="text-medium-font font-weight-500 mb-1">Цена</p>
                <input type="text"
                    class="form-control"
                    placeholder="Стоимость рекламы">
            </div>
        </div>
    </div>
    <div class="my-4">
        <button class="btn btn-success">Добавить канал</button>
    </div>
    <h3 class="text-muted">Мои каналы</h3>
    <channels :channels="channels"
        :show-first-col="false"
        :show-last-col="true" />
</div>