<div>
  <h4>Регистрация</h4>
  <br>
  <div class="form-group">
    <login-input v-model="user.login" />
  </div>
  <div class="form-group">
    <input type="password"
      placeholder="Пароль"
      class="form-control form-control-lg"
      v-model="user.password">
  </div>
  <div class="form-group">
    <button class="btn-outline-light btn btn-block btn-lg"
      @click="register">Зарегистрироваться</button>
  </div>
  <router-link :to="{name:'recovery',params:{login:user.login}}"
    class="float-left text-light"><u>Забыли пароль?</u></router-link>
  <router-link :to="{name:'login',params:{login:user.login}}"
    class="float-right text-light"><u>Войти</u></router-link>
</div>
