<form @submit="register">
    <h3 class="text-white">Регистрация</h3>
    <br>
    <div class="form-group">
        <label class="control-label float-left text-white h5 m-0">E-mail</label>
        <input type="email"
            placeholder="E-mail"
            class="form-control input-auth"
            v-model="user.login">
    </div>
    <div class="form-group">
        <label class="control-label float-left text-white h5 m-0">Пароль</label>
        <input type="password"
            placeholder="Пароль"
            class="form-control input-auth"
            v-model="user.password">
    </div>
    <div class="form-group">
        <button class="btn-auth btn btn-block btn-lg"
            type="submit">Зарегистрироваться</button>
    </div>
    <router-link :to="{name:'recovery',params:{login:user.login}}"
        class="float-left text-light">
        <u>Забыли пароль?</u>
    </router-link>
    <router-link :to="{name:'login',params:{login:user.login}}"
        class="float-right text-light">
        <u>Войти</u>
    </router-link>
</form>