<div>
    <div class="container py-3">
        <heading text="Техподдержка" />
        <div class="d-flex flex-column">
            <div class="col-12 col-md-4 offset-md-3 p-0"
                 v-if="!ticketId">
                <div class="form-group mb-2">
                    <label class="form-group__label mb-1">Тема </label>
                    <v-select label="name"
                              class="form-select"
                              :searchable="false"
                              placeholder="Выберите тему"
                              v-model="selectedTopic"
                              :options="topics"></v-select>
                </div>
            </div>
            <div class="col-12 col-md-6 offset-md-3 mb-4 p-0">
                <!-- <div class="chat__header pt-4 pb-2"
                     v-if="ticketId && $mq == 'sm'">
                    <heading text="История сообщений" />
                    <div class="form-group__label mb-1">Тема:
                        <span class="text-primary">{{ topic }}</span>
                    </div>
                </div> -->
                <div class="form-group form-group-textarea">
                    <label class="form-group__label mb-1"
                           v-if="$mq == 'lg' || $mq == 'sm' && !ticketId">Сообщение </label>
                    <support-textarea v-model="newMessage"
                                      :autofocus="true"
                                      :newMessage="newMessage" />
                    <button class="btn btn-success btn-md float-right"
                            type="button"
                            @click="ticketId ? createMessage() : createTicket()"
                            disabled>Отправить</button>
                    <div class="rating d-none d-md-block col-4 offset-4"
                         v-if="ticketStatus == 2">
                        <div class="rating__wrapper d-flex flex-column align-items-center"
                             v-if="!isRated">
                            <star-rating :show-rating="false"
                                         active-color="#ffc107"
                                         :star-size="20"
                                         :rating="rating"
                                         :read-only="isRatingDisabled"
                                         @rating-selected="setRating"></star-rating>
                            <span>{{ rating ? "Ваша оценка" : "Оцените нашу помощь" }}</span>
                        </div>
                        <div class="rating__wrapper d-flex flex-column align-items-center"
                             v-else>
                            <span class="fa fa-2x fa-thumbs-up"></span>
                            <span>Спасибо за Ваш отзыв!</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 offset-lg-3 p-0"
                 v-if="ticketId">
                <div :class="[message.isSupport ? 'float-right' : 'float-left', 'message handle-long-lines col-10 mb-3']"
                     v-for="(message, i) in messages">
                    <h6 :class="[message.isSupport ? 'text-right' : '', 'message__author']"
                        v-if="isAuthorNeeded(message, i, messages)">{{ message.isSupport ? 'Техподдержка' : 'Вы' }}</h6>
                    <div :class="[message.isSupport ? 'message__content--support float-right' : '', 'message__content float-left']">
                        <div :class="[message.files.length ? 'mb-3' : 'mb-1', 'message__text mb-1', {'text-right': message.content.length < 13 && message.isSupport}]"
                    
                             v-html="message.content"></div>
                        <div class="message__images"
                             v-if="message.files.length">
                            <img class="rounded img-thumbnail img-fluid mb-3 pointer"
                                 :src="message.isJustCreated ? image : '/images/tickets/' + ticketId + '/' + image.fileId + '.' + image.extension"
                        
                                 v-for="image in message.files"
                                 @click="showImage"></img>
                        </div>
                        <small :class="[message.isSupport ? 'text-right' : '', 'message__date d-block']">{{ message.createdAt }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>