<form @submit="login">
    <h3 class="text-white">Вход</h3>
    <br>
    <div class="form-group">
        <label class="control-label float-left text-white h5 m-0">Логин</label>
        <input type="email"
               tabindex="1"
               placeholder="example@email.com"
               required
               class="form-control input-auth"
               v-model="user.login">
    </div>
    <div class="form-group">
        <label class="control-label float-left text-white h5 m-0">Пароль</label>
        <input type="password"
               tabindex="2"
               placeholder="Введите пароль"
               required
               class="form-control input-auth"
               v-model="user.password">
    </div>
    <div class="form-group">
        <button class="btn-auth btn btn-block btn-lg"
                tabindex="3"
                type="submit">Войти</button>
    </div>
    <router-link :to="{name:'recovery',params:{login:user.login}}"
                 class="float-left text-light">
        <u>Забыли пароль?</u>
    </router-link>
    <router-link :to="{name:'registration',params:{login:user.login}}"
                 class="float-right text-light">
        <u>Регистрация</u>
    </router-link>
</form>