<div class="timeFrames-list">
    <div class="date-row">
        <button class="btn btn-link py-0 text-secondary"
            :class="{'text-muted':weeksPlus<1}"
            @click="changeWeek()">
            <i class="fa fa-3x fa-angle-double-left"></i>
        </button>
        <div class="col day"
            :class="{active:selectedWeekday === day.weekDayVal}"
            @click="selectedWeekday=day.weekDayVal"
            :key="day&&day.id"
            v-for="day in days">
            {{day.date}}
            <br> {{day.weekDayText}}
        </div>
        <button class="btn btn-link py-0 text-secondary"
            @click="changeWeek(true)">
            <i class="fa fa-3x fa-angle-double-right"></i>
        </button>
    </div>
    <div class="form-row"
        v-if="channel.userId === user.userId">
        <div class="col">
            <div class="form-group">
                <label class="col-form-label">Время размещения</label>
                <input type="time"
                    class="form-control p-2"
                    v-model="time">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="col-form-label">В топе / В ленте</label>
                <select v-model="removalHours"
                    class="form-control">
                    <option value="1/24">1/24</option>
                    <option value="2/24">2/24</option>
                    <option value="3/24">3/24</option>
                    <option value="1/48">1/48</option>
                    <option value="2/48">2/48</option>
                    <option value="3/48">3/48</option>
                    <option value="1/72">1/72</option>
                    <option value="2/72">2/72</option>
                    <option value="3/72">3/72</option>
                </select>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label class="col-form-label">Цена</label>
                <div class="input-group">
                    <input v-model="initialPrice"
                        class="form-control"
                        min="1"
                        max="10000000"
                        placeholder="100"
                        @input="timeFrame.price = Math.round(initialPrice *1.3)"
                        type="number" />
                    <span class="input-group-append">
                        <span class="input-group-text">₽</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="col-form-label">Цена с наценкой</label>
                <div class="input-group">
                    <input v-model="timeFrame.price"
                        class="form-control"
                        min="1"
                        max="10000000"
                        placeholder="100"
                        @input="initialPrice = Math.round(timeFrame.price /1.3)"
                        type="number" />
                    <span class="input-group-append">
                        <span class="input-group-text">₽</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="col-form-label">&nbsp;</label>
                <button class="btn btn-success btn-block px-4"
                    @click="addTimeFrame">
                    <i class="fa fa-plus"></i> Добавить
                </button>
            </div>

        </div>
    </div>
    <div class="flex-table mt-2"
        v-if="filteredTimeFrames && filteredTimeFrames.length">
        <div class="header-row">
            <div class="col">Время</div>
            <div class="col">Условия</div>
            <div class="col">Цена</div>
            <div class="col-4">Действия</div>
        </div>
        <div class="body-row"
            :class="{removed:isRemoved(of)}"
            v-for="of in filteredTimeFrames"
            :key="of.timeFrameId">
            <div class="col h4 m-0">{{timeFrameDates(of)}}</div>
            <div class="col h4 m-0">{{of.inTopHours}}/{{of.inFeedHours}}</div>
            <div class="col h4 m-0">{{of.price | centToRub}}</div>
            <div class="col-4">
                <span @click="removeTimeFrame(of)"
                    v-if="channel.userId === user.userId && !isRemoved(of)"
                    class="text-danger pointer h4 m-0">
                    <i class="fa fa-times"></i> Удалить</span>
                <span v-else-if="channel.userId === user.userId && isRemoved(of)"
                    class="cancel-removal">
                    <b>Предложение удалено.</b>
                    <span @click="cancelTimeFrameRemoval(of)"
                        class="text-success pointer"> Восстановить</span>
                </span>
                <router-link :to="{name:'posts:create',params:{selected:[channel]}}"
                    v-else-if="channel.userId !== user.userId"
                    class="h4 m-0">
                    <i class="fa fa-plus"></i> Новый пост</router-link>
            </div>
        </div>
    </div>
    <div v-else
        class="my-4">
        <h4 class="text-center p-4"> На этот день недели еще нет ни одного предложения, создайте новое используя форму выше</h4>
    </div>
</div>