<div class="container py-3 px-0">
    <h1 class="text-medium-font mb-4">Профиль</h1>
    <div class="row mb-4">
        <div class="col-4">
            <div class="form-group">
                <p class="text-medium-font font-weight-500 mb-1">Имя</p>
                <input type="text"
                       v-model="user.name"
                       @change="editUser(false)"
                       class="form-control"
                       placeholder="Имя">
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <p class="text-medium-font font-weight-500 mb-1">E-mail</p>
                <input type="email"
                       v-model="user.email.address"
                       class="form-control"
                       @change="editUser(true)"
                       placeholder="E-mail">
            </div>
        </div>
        <!-- <div class="col-4">
            <div class="form-group">
                <p class="text-medium-font font-weight-500 mb-1">Телефон</p>
              <masked-input placeholder="+7 (987) 654-32-10" class="form-control" readonly mask="\+\7 (111) 111-11-11" /> 
                <input type="text"
                    readonly
                    class="form-control"
                    placeholder="Телефон">
            </div>
        </div> -->
        <div class="col-4">
            <div class="form-group">
                <p class="text-medium-font font-weight-500 mb-1">Telegram аккаунт</p>
                <a :href="'tg://resolve?domain=telepayDevBot&start='+(user.telegramId?'unlinkAccountxxxdividerxxx':'linkAccountxxxdividerxxx')+user.telegramAuthCode"
            
                   class="btn btn-block"
                   :class="user.telegramId?'btn-light text-primary':'btn-tg'"
                   @click="startFetchingUser">{{user.telegramId?'Отвязать':'Привязать'}} аккаунт Telegram</a>
            </div>
        </div>
        <div class="col-6"
             v-if="user&&user.referral">
            <div class="form-group">
                <p class="text-medium-font font-weight-500 mb-1">Реферральная ссылка</p>
                <input type="text"
                       readonly
                       :value="`https://dev.telepay.io/auth/registration?ref=${user.referral.code}`"
                       class="form-control">
            </div>
        </div>
    </div>
    <h2 class="text-medium-font mb-4">Изменение пароля</h2>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <p class="text-medium-font font-weight-500 mb-1">Старый пароль</p>
                <password-input classes="form-control"
                                v-model="passData.old_password"
                                placeholder="Старый пароль" />
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <p class="text-medium-font font-weight-500 mb-1">Новый пароль</p>
                <password-input classes="form-control"
                                v-model="passData.new_password"
                                placeholder="Новый пароль" />
            </div>
        </div>
    </div>
    <button class="btn btn-success"
            :disabled="!passData.old_password || !passData.new_password"
            @click="changePassword">Изменить пароль</button>
</div>