<div>
    <mq-layout mq="sm">
        <div class="flex-table"
             v-if="posts && posts.length">
            <div class="header-row mx-0 px-0 justify-content-between">
                <div class="col text-center"> Время </div>
                <div class="col text-center">Cтатус</div>
                <div class="col text-center">
                    <i class="fa fa-lg fa-rub"></i>
                </div>
            </div>
            <div class="body-row"
                 :key="post.postOrderId"
                 v-for="post in posts"
                 v-if="post"
                 :class="{'text-muted':post.publishAt <= now}">
                <div class="col-7 d-flex offset-1 px-0"
                     v-if="!isFromChannels">
                    <div class="mr-2"
                         style="width: 40px; height: 40px;">
                        <avatar :src="'/images/channels/'+post.channel.telegramId+'/'+post.channel.photoId+'.jpg'"
                                :circle="true" /> </div>
                    <div>
                        <router-link :to="{name:post.channel.userId === user.userId?'channels:update':'channels:show',
                                params:{username:post.channel.username}}">
                            <b>{{post.channel.title}}</b>
                        </router-link>
                        <br>
                        <small clas="text-light">{{post.channel.category || 'Без категории'}}</small>
                    </div>
                </div>
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <button v-if="!isOut && post.status === 0 && post.publishAt > now && !statusChangedByUser"
                            class="btn btn-link m-0 p-0 mr-1 text-success"
                            @click="approvePost(post)">
                        <i class="fa fa-check fa-lg"></i>
                    </button>
                    <button v-if="!isOut && post.status === 0 && post.publishAt > now && !statusChangedByUser"
                            class="btn btn-link m-0 p-0 mr-1 text-danger"
                            @click="declinePost(post)">
                        <i class="fa fa-times fa-lg"></i>
                    </button>
                    <!-- <button class="btn btn-link m-0 mr-1 p-0"
                            v-if="[0,1,3,5,6].includes(post.status)"
                            @click="removePost(post)">
                        <i class="fa fa-trash fa-lg text-warning"></i>
                    </button> -->
                    <button class="btn btn-link m-0 mr-1 p-0"
                            v-if="isOut"
                            @click="repeatPost(post)">
                        <i class="fa fa-refresh fa-lg text-primary"></i>
                    </button>
                    <button class="btn btn-link p-0 m-0 mr-1 text-dark"
                            @click="togglePreview(post)"
                            @blur="togglePreview(post,false)">
                        <i class="fa fa-lg"
                           :class="post.showPreview?'fa-eye-slash':'fa-eye'"></i>
                    </button>
                    <transition name="fade">
                        <div class="popover fade show bs-popover-bottom post-preview"
                             v-show="post.showPreview">
                            <div class="arrow"></div>
                            <div class="popover-body">
                                <post-preview :post="mapToPreview(post)"></post-preview>
                            </div>
                        </div>
                    </transition>
                </div>
                <div class="body-row col-12 px-0 d-flex align-items-center pb-0">
                    <div class="col text-center">
                        <span>{{post.publishAt*1000 | parseDateMobile }}</span>
                    </div>
                    <div class="col text-center"
                         :class="{'text-danger':[1,6].includes(post.status)}">
                        <span v-if="post.status !== 3 && !post.isPosted || !post.messageId">{{postStatuses[post.status]}}</span>
                        <div v-if="post.status === 3 && post.viewsCount">
                            <span>Просмотров: {{post.viewsCount}}</span>
                            <br>
                            <span v-tooltip="'CPM - аббрев. от англ. Cost-Per-Thousand (M - римская цифра) — цена за тысячу показов'">CPM: {{(post.price*1000/post.viewsCount) | centToRub}}</span>
                        </div>
                        <a v-else
                           v-tooltip="'Открыть пост в приложении Telegram'"
                           :href="`tg://resolve?domain=${post.channel.username}&post=${post.messageId}`">{{postStatuses[post.status]}}</a>
                        <span v-show="[1,6].includes(post.status) && post.declineReason">Причина: {{post.declineReason}}</span>
                    </div>
                    <div class="col text-center">{{post.price | centToRub}}</div>
                </div>
            </div>
        </div>
        <div class="p-4 text-center"
             v-else>
            <h5>{{placeholder}}</h5>
        </div>
    </mq-layout>
    <mq-layout mq="md+">
        <div class="flex-table"
             v-if="posts && posts.length">
            <div class="header-row">
                <div class="col px-2">Номер</div>
                <div class="col px-2">Время</div>
                <div class="col-3 px-2"
                     v-if="!isFromChannels">Канал</div>
                <div class="col px-2">Статус</div>
                <div class="col px-2">Цена</div>
                <div class="col px-2">Действия</div>
            </div>
            <div class="body-row px-0"
                 :key="post.postOrderId"
                 v-for="post in posts"
                 v-if="post"
                 :class="{'text-muted':post.publishAt <= now}">
                <div class="col px-2">{{post.humanReadableNumber}}</div>
                <div class="col px-2 h5">{{post.publishAt*1000 | parseDate }}</div>
                <div class="col-3 px-2"
                     v-if="!isFromChannels">
                    <div class="form-row">
                        <div class="col-3">
                            <avatar :src="'/images/channels/'+post.channel.telegramId+'/'+post.channel.photoId+'.jpg'"
                                    :circle="true" /> </div>
                        <div class="col-9 pl-4 d-flex align-items-center">
                            <router-link :to="{
                            name:post.channel.userId === user.userId?'channels:update':'channels:show',
                            params:{username:post.channel.username}
                        }">
                                <b>{{post.channel.title}}</b>
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="col px-2"
                     :class="{'text-danger':[1,6].includes(post.status)}">
                    <span v-if="post.status !== 3 && !post.isPosted || !post.messageId">{{postStatuses[post.status]}}</span>
                    <a v-else
                       v-tooltip="'Открыть пост в приложении Telegram'"
                       :href="`tg://resolve?domain=${post.channel.username}&post=${post.messageId}`">{{postStatuses[post.status]}}</a>
                    <div v-if="post.status === 3 && post.viewsCount">
                        <span>Просмотров: {{post.viewsCount}}</span>
                        <br>
                        <span v-tooltip="'CPM - аббрев. от англ. Cost-Per-Thousand (M - римская цифра) — цена за тысячу показов'">CPM: {{(post.price*1000/post.viewsCount) | centToRub(1)}}</span>
                    </div>
                    <span v-show="[1,6].includes(post.status) && post.declineReason">Причина: {{post.declineReason}}</span>
                </div>
                <div class="col px-2 h5">{{post.price | centToRub}}</div>
                <div class="col px-2">
                    <button v-if="!isOut && post.status === 0 && post.publishAt > now"
                            class="btn btn-link m-0 p-0 text-success"
                            v-tooltip="'Подтвердить размещение поста'"
                            @click="approvePost(post)">
                        <i class="fa fa-check fa-lg"></i>
                    </button>
                    <button v-if="!isOut && post.status === 0 && post.publishAt > now"
                            class="btn btn-link m-0 mr-1 p-0 text-danger"
                            v-tooltip="'Отклонить размещение поста'"
                            @click="declinePost(post)">
                        <i class="fa fa-times fa-lg"></i>
                    </button>
                    <!-- <button class="btn btn-link m-0 mr-1 p-0"
                            v-tooltip="'Удалить пост'"
                            v-if="[0,1,3,5,6].includes(post.status)"
                            @click="removePost(post)">
                        <i class="fa fa-trash fa-lg text-warning"></i>
                    </button> -->
                    <button class="btn btn-link m-0 mr-1 p-0"
                            v-if="isOut"
                            v-tooltip="'Повторить размещение поста'"
                            @click="repeatPost(post)">
                        <i class="fa fa-refresh fa-lg text-primary"></i>
                    </button>
                    <button class="btn btn-link p-0 m-0 mr-1 text-dark"
                            v-tooltip="'Превью поста'"
                            @click="togglePreview(post)"
                            @blur="togglePreview(post,false)">
                        <i class="fa fa-lg"
                           :class="post.showPreview?'fa-eye-slash':'fa-eye'"></i>
                    </button>
                    <transition name="fade">
                        <div class="popover fade show bs-popover-bottom post-preview"
                             v-show="post.showPreview">
                            <div class="arrow"></div>
                            <div class="popover-body">
                                <post-preview :post="mapToPreview(post)"></post-preview>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
        <h2 class="text-center"
            v-else>{{placeholder}}</h2>
    </mq-layout>
</div>
