<div class="container py-3 px-0"
     v-if="channel && channel.channelId">
  <h2 class="text-secondary my-4">Просмотр канала
    <small @click="$router.go(-1)"
           class="float-right pointer">
      <i class="fa fa-lg fa-chevron-left"></i> Назад</small>
  </h2>
  <div class="row my-4">
    <div class="col-2 ">
      <avatar :src="'/images/channels/'+channel.telegramId+'/'+channel.photoId+'.jpg'"
              style="max-width: 200px; max-height: 200px;"
              @error="imageErrorHandler(channel)"
              :circle="true" /> </div>
    <div class="col-6">
      <h4>
        <a :href="'tg://resolve?domain='+channel.username">{{channel.title}}</a>
      </h4>
      <b v-if="channel.subscriberCount">Подписчиков: {{channel.subscriberCount | cutKilo}}</b>
      <br>
      <b v-if="channel.engagementRate">Коэффициент вовлечения(ER): {{channel.engagementRate | cutKilo}}</b>
      <p v-html="$options.filters.parseLinks(channel.description,'Нет описания')"></p>
    </div>
  </div>
  <h2>Рекламные предложения</h2>
  <div class="form-row">
    <div class="col-3">
      <div class="form-group">
        <label>Условия размещения
          <i class="fa fa-info-circle"
             v-tooltip="{template:'Время, которое пост должен быть в ленте канала на первом месте / Время поста в ленте до удаления ботом',delayOut:500}"></i>
        </label>
        <input type="text"
               class="form-control-plaintext fa-lg"
               :value="'1/'+(channel.timeFrame[0].inFeedHours||'∞')"
               readonly> </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label>Цена за пост (руб)</label>
        <input type="number"
               readonly
               class="form-control-plaintext fa-lg"
               :value="channel.timeFrame[0].priceWithCommission/100"> </div>
    </div>
  </div>
  <button class="btn-success btn"
          @click="$router.push({name:'posts:create',params:{selected:mappedToSelected}})">Создать пост</button>
  <!-- <h2 class="text-center">Рекламные предложения</h2> -->
  <!-- <timeframes v-if="channel && channel.channelId"
 :channel="channel"></timeframes> -->
</div>