<div class="container py-3 px-2 px-md-0"
     v-if="channel && channel.channelId">
    <heading :text="isMobile ? 'Просмотр канала' : channel.title" />
    <div class="row mb-md-4">
        <div class="d-flex flex-wrap col-12 col-md-8 px-0 my-4 pt-md-4">
            <div class="d-flex offset-1 offset-md-0"
                 :class="{'col-6 px-0': isMobile}">
                <div class="channel-avatar">
                    <avatar :src="'/images/channels/'+channel.telegramId+'/'+channel.photoId+'.jpg'"
                            :circle="true" /> </div>
                <div v-if="isMobile">
                    <a class="channel-title"
                       :href="'tg://resolve?domain='+channel.username">{{channel.title}}
                    </a>
                    <br>
                    <span class="channel-category">{{channel.category || 'Без категории'}}</span>
                </div>
                <div class="d-flex flex-column justify-content-between"
                     v-else>
                    <div class="channel-text mb-4">{{ channel.description }}</div>
                    <div class="channel-category--show-channel">Категория:
                        <span class="text-primary">{{ channel.category || 'Без категории' }}</span>
                    </div>
                </div>
            </div>
            <div class="col-3 offset-2 px-0 d-flex align-items-center justify-content-center"
                 v-if="isMobile">
                <i class="fa fa-2x fa-info-circle text-primary pointer"
                   @click="showDescription(channel.description)"></i>
            </div>
        </div>
        <div class="d-flex flex-md-column col-12 col-md-4 px-0 justify-content-between mb-4 my-md-4 pt-md-4">
            <div :class="{'col-7 offset-1 px-1 text-18px': isMobile}">
                <i class="fa fa-users mr-2 text-gray"
                   v-if="isMobile"></i>
                <span class="channel-text--solid"
                      v-else>Подписчиков: </span>
                <span class="channel-text--solid"
                      :class="{'font-weight-bold': isDesktop}">{{ channel.subscriberCount | cutSum(1) }}</span>
            </div>
            <div :class="{'col-4 text-center text-18px': isMobile}">
                <b class="text-gray mr-2"
                   v-if="isMobile">ER</b>
                <span class="channel-text--solid"
                      v-else>ER (Вовлечённость): </span>
                <span class="channel-text--solid"
                      :class="{'font-weight-bold': isDesktop}">{{ channel.engagementRate | cutSum }}%</span>
            </div>
        </div>
    </div>
    <div v-if="channel && channel.timeFrame && channel.cheapestTimeFrame">
        <h2 class="text-center text-md-left mb-4 pt-md-4">{{isMobile ? 'Предложения' : 'Рекламные предложения'}}</h2>
        <div class="flex-table mb-4 pt-md-4">
            <div class="header-row mx-0 px-0 justify-content-between">
                <div class="col channel-th text-center">Условия
                    <br v-if="isMobile">
                    <small v-if="isMobile">(Часов в топе/всего)</small>
                </div>
                <div class="col channel-th text-center">
                    <i class="fa fa-lg fa-rub"
                       v-if="isMobile"></i>
                    <span v-else>Цена</span>
                </div>
                <div class="col channel-th text-center"> Добавить пост </div>
            </div>
            <div class="body-row body-row--mobile">
                <div class="col channel-td">
                    <input type="text"
                           class="form-control-plaintext fa-lg text-center"
                           :value="'1/'+(channel.cheapestTimeFrame.inFeedHours||'∞')"
                           readonly> </div>
                <div class="col channel-td">
                    <input type="number"
                           readonly
                           class="form-control-plaintext fa-lg text-center"
                           :value="channel.cheapestTimeFrame.priceWithCommission/100"> </div>
                <div class="col channel-td text-center pointer">
                    <h2 class="text-primary"
                        @click="$router.push({name:'posts:create',params:{selected:mappedToSelected}})">+</h2>
                </div>
            </div>
        </div>
    </div>
</div>