<div class="container py-3 px-0">
  <h1 class="text-medium-font mb-4">
    Снятие средств
  </h1>
  <div class="col-6 offset-3">
    <label>Сумма снятия</label>
    <div class="form-inline">
      <div class="row">
        <div class="input-group col">
          <input type="number"
                 class="form-control"
                 placeholder="Cумма снятия"
                 v-model="amount">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="fa fa-rouble"></i>
            </div>
          </div>
        </div>
        <button class="btn btn-success"
                :disabled="!amount || !checkedTerms">Снять</button>
      </div>
    </div>
    <div class="my-2 d-flex align-items-center">
      <norm-checkbox v-model="checkedTerms" />
      <span class="ml-2 pointer"
            @click="checkedTerms = !checkedTerms">Я согласен с
        <a href="https://landing.telepay.io/terms-and-conditions.html"
           target="_blank">условиями использования</a>
      </span>
    </div>
  </div>
</div>