<div class="form">
    <label class="float-left">Сумма вывода</label>
    <div class="input-group">
        <input type="number"
               class="form-control"
               placeholder="100"
               v-model="withdrawal.amount">
        <div class="input-group-append">
            <div class="input-group-text">
                <i class="fa fa-rouble"></i>
            </div>
        </div>
    </div>
    <label class="float-left">Счет</label>
    <select v-model="withdrawal.walletId"
            class="form-control">
        <option value=""
                hidden>Выберите счет</option>
        <option :value="wallet.walletId"
                v-for="wallet in wallets">{{walletTypes[wallet.type]}} {{wallet.number}}</option>
    </select>
    <div class="my-2 d-flex align-items-center">
        <norm-checkbox v-model="checkedTerms" />
        <span class="ml-2 pointer"
              @click="checkedTerms = !checkedTerms">Я согласен с
            <a href="https://landing.telepay.io/terms-and-conditions.html"
               target="_blank">условиями использования</a>
        </span>
    </div>
    <div class="text-center">
        <button class="btn btn-success"
                @click="createWithdrawal(withdrawal)"
                :disabled="!withdrawal.amount || !checkedTerms || !withdrawal.walletId">Запросить вывод</button>
    </div>
</div>