<div class="container py-3 px-0">
    <div class="d-flex flex-column">
        <div class="mb-3">
            <h1>F.A.Q.</h1>
        </div>
        <div class="col-8 offset-2">
            <div class="search form-group">
                <span class="search__icon fa fa-2x fa-search"></span>
                <input class="search__input form-control"
                       type="text"
                       placeholder="Введите Ваш вопрос" /> </div>
            <span class="search__cancel-btn fa fa-lg fa-close pointer"></span>
            <div class="tabs">
                <div class="tabs-row d-flex">
                    <div class="tab tab--active btn"
                         @click="tabSelected = 0">Общие</div>
                    <div class="tab btn"
                         @click="tabSelected = 1">Рекламодателю</div>
                    <div class="tab btn"
                         @click="tabSelected = 2">Администратору</div>
                </div>
                <div class="tab-content"
                     v-if="tabSelected == 0">
                    <div class="faq">
                        <div class="faq__item"
                             v-for="(it, i, arr) in commonQuestions"
                             @click="questionSelected = i">
                            <div class="faq__question pointer">
                                <span class="font-weight-bold mr-1">{{ it.question }}</span>
                                <span :class="[questionSelected == i ? 'fa-angle-down' : 'fa-angle-right', 'fa fa-lg']"></span>
                                <transition name="show-tab-content"
                                            mode="out-in">
                                    <div class="faq__answer"
                                         v-show="questionSelected == i">
                                        <div class="faq__answer-text">{{ it.answer }}</div>
                                    </div>
                                </transition>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content"
                     v-if="tabSelected == 1"> 1 </div>
                <div class="tab-content"
                     v-if="tabSelected == 2"> 2 </div>
            </div>
        </div>
    </div>
</div>