<div class="container faq-container py-4 p-lg-0">
    <div class="faq d-flex flex-column">
        <h1 class="main-title mb-3">F.A.Q.</h1>
        <div class="col-12 p-0 p-lg-2 col-lg-8 offset-lg-2">
            <div class="search form-group">
                <span class="search__icon fa fa-search"></span>
                <input class="search__input form-control"
                       type="text"
                       v-model="searchInputValue"
                       placeholder="Введите Ваш вопрос" /> </div>
            <span :class="[searchInputValue ? 'text-danger' : '', 'search__cancel-btn fa fa-lg fa-close pointer']"
                  @click="searchInputValue = ''"></span>
            <div class="tabs">
                <div class="tabs-row d-flex">
                    <div :class="[tabSelected == 0 ? 'tab--active' : '' , 'tab']"
                         @click="tabSelected = 0">Общие</div>
                    <div :class="[tabSelected == 1 ? 'tab--active' : '' , 'tab']"
                         @click="tabSelected = 1">Рекламодателю</div>
                    <div :class="[tabSelected == 2 ? 'tab--active' : '' , 'tab']"
                         @click="tabSelected = 2">Администратору</div>
                </div>
                <transition name="fade-2"
                            mode="out-in">
                    <div class="tab-content"
                         key="0"
                         v-if="tabSelected == 0">
                        <collapse v-for="(it, i) in filteredFaq.commonQuestions"
                                  :collapseHeader="it.question"
                                  :collapseContent="it.answer"
                                  :key="i"></collapse>
                    </div>
                    <div class="tab-content"
                         key="1"
                         v-if="tabSelected == 1">
                        <collapse v-for="(it, i) in filteredFaq.adsQuestions"
                                  :collapseHeader="it.question"
                                  :collapseContent="it.answer"
                                  :key="i"></collapse>
                    </div>
                    <div class="tab-content"
                         key="2"
                         v-if="tabSelected == 2">
                        <collapse v-for="(it, i) in filteredFaq.adminQuestions"
                                  :collapseHeader="it.question"
                                  :collapseContent="it.answer"
                                  :key="i"></collapse>
                    </div>
                </transition>
            </div>
            <div class="faq__redirect row">
                <div class="col-lg-1 mb-3 mb-lg-0 mr-lg-5">
                    <span class="fa fa-info-circle fa-5x text-danger text-center"></span>
                </div>
                <div class="col-10">
                    <h6>Не нашли нужный вопрос?</h6>
                    <span>Мы всегда открыты для конструктивной критики и предложениям. Все пожелания и претензии направляйте
                        <router-link :to="{name:'support:create'}">сюда.</router-link>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>