<div class="container py-3 px-0">
    <div class="d-flex flex-column">
        <div class="mb-3">
            <h1>F.A.Q.</h1>
        </div>
        <!-- <div class="col-6 col-sm-12 bg-danger test"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, omnis quae perferendis eum modi aspernatur facilis, dignissimos nemo sapiente beatae cum, reiciendis eligendi magnam dolorem doloribus error fugiat deserunt minima. </div> -->
        <div class="col-8 offset-2">
            <div class="search form-group">
                <span class="search__icon fa fa-2x fa-search"></span>
                <input class="search__input form-control"
                       type="text"
                       v-model="searchInputValue"
                       placeholder="Введите Ваш вопрос" /> </div>
            <span class="search__cancel-btn fa fa-lg fa-close pointer"
                  @click="searchInputValue = ''"></span>
            <div class="tabs">
                <div class="tabs-row d-flex">
                    <div :class="[tabSelected == 0 ? 'tab--active' : '' , 'tab btn']"
                         @click="tabSelected = 0">Общие</div>
                    <div :class="[tabSelected == 1 ? 'tab--active' : '' , 'tab btn']"
                         @click="tabSelected = 1">Рекламодателю</div>
                    <div :class="[tabSelected == 2 ? 'tab--active' : '' , 'tab btn']"
                         @click="tabSelected = 2">Администратору</div>
                </div>
                <transition name="fade-2"
                            mode="out-in">
                    <div class="tab-content"
                         key="0"
                         v-if="tabSelected == 0">
                        <collapse v-for="(it, i) in filteredFaq.commonQuestions"
                                  :collapseHeader="it.question"
                                  :collapseContent="it.answer"
                                  :key="i"></collapse>
                    </div>
                    <div class="tab-content"
                         key="1"
                         v-if="tabSelected == 1">
                        <collapse v-for="(it, i) in filteredFaq.adsQuestions"
                                  :collapseHeader="it.question"
                                  :collapseContent="it.answer"
                                  :key="i"></collapse>
                    </div>
                    <div class="tab-content"
                         key="2"
                         v-if="tabSelected == 2">
                        <collapse v-for="(it, i) in filteredFaq.adminQuestions"
                                  :collapseHeader="it.question"
                                  :collapseContent="it.answer"
                                  :key="i"></collapse>
                    </div>
                </transition>
            </div>
            <div class="row">
                <div class="col-1 mr-5">
                    <span class="fa fa-info-circle fa-5x text-danger text-center"></span>
                </div>
                <div class="col-10">
                    <h6>Не нашли нужный вопрос?</h6>
                    <span>Мы всегда открыты для конструктивной критики и предложениям. Все пожелания и претензии направляйте
                        <router-link :to="{name:'support:create'}">сюда.</router-link>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>