.auth {
    height: 100vh;
    width: 100%; // background-image: url('/assets/bg.png');
    background: #853d5e;
    background: -moz-linear-gradient(left, #853d5e 0%, #4a3172 100%);
    background: -webkit-linear-gradient(left, #853d5e 0%, #4a3172 100%);
    background: linear-gradient(to right, #853d5e 0%, #4a3172 100%);
    background-position: center;
    background-size: cover;
    &-box {
        height: 80vh;
    }
    .logo {
        margin: 0 auto;
        max-width: 500px;
        .cls-1 {
            fill: #fff !important;
        }
    }
    .footer-nav {
        background-color: transparent;
        color: #fff
    }
    .navbar_main {
        background-color: transparent;
        .nav-link {
            color: #fff;
            font-size: 18px;
            border: none;
        }
        .login-btn {
            @extend .btn-success;
            display: inline-block;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            user-select: none;
            border: 1px solid transparent;
            font-size: 16px;
            line-height: 20px;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            padding: 10px 50px;
            border-radius: 50px;
            margin: 1px 1rem 0px;
        }
    }
    .btn-auth {
        background: #FFDD05;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        width: 100%;
        text-align: center;
        height: 55px;
        line-height: 36px;
        font-size: 24px;
        color: #333333;
        border: 0;
        margin-top: 30px;
        cursor: pointer;
    }
    .input-auth {
        padding: 0 5%;
        background: none;
        height: 50px;
        line-height: 50px;
        border: 2px solid #DEE2EE;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 300;
        color: #F2F2F2;
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(249, 229, 54, 0.48);
            border-color: #FFDD05;
        }
    }
}