
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100vh
}

.app-wrapper {
    height: 100%;
    padding-bottom: 55px;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;

    &--toggled {
        transform: translateX(196px);
    }
}

.container-wrap {
    padding-top: 85px;
    min-height: 100vh
}

.pointer {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.posts {
    .nav-link {
        background-color: theme-color('light');
        color: theme-color('slate');
        padding: 10px 48px;
        margin-right: 12px;
    }
    .nav-link.active {
        background-color: theme-color('slate');
        color: theme-color('light');
    }
}

.post-preview.popover {
    min-width: 360px;
    left: initial;
    right: 0;
    top: 22px;
    .arrow {
        right: 22%;
    }
    .preview {
        min-height: inherit;
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.fade-in,
.swal2-container.swal2-shown {
    animation: fadein 0.3s;
}

.search-input {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    &__cleaner {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50px;
        cursor: pointer;
        z-index: 20;
        right: 0;
        color: #000;
        background-color: #DEE2EE;
        border-radius: 0 3px 3px 0;
        overflow: hidden;
        &-icon {
            height: 16px;
            width: 16px;
            padding: 2px; // fill: #fff;
        }
    }
    &__value {
        background-color: #fff;
        text-align: left;
        display: block;
        outline: none;
        width: 100%;
        font-size: 15px;
        line-height: 20px;
        padding: 10px;
        color: #576077;
        border: 2px solid theme-color('text-white');
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:focus {
            outline: none;
        }
    }
    &__dropdown {
        position: absolute;
        overflow-y: auto;
        width: 100%;
        left: 0;
        z-index: 10;
        max-height: 200px;
        &-item {
            background: #fff;
            padding: 10px;
            border-bottom: 1px solid #f5f5f5;
            font-size: 14px;
            cursor: pointer;
            user-select: none;
            &:hover,
            &_hovered,
            &_active {
                background: #f5f5f5;
                border-bottom: 1px solid #fff;
            }
        }
    }
}

.user {
    &-menu {
        position: relative; // box-shadow: 0px 0px 50px rgba(0,0,0,.1);
        &__item {
            display: block; // border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            text-decoration: none;
            color: rgb(111, 119, 138) !important; // padding: 10px;
            &_last {
                border-bottom: 1px solid rgba(0, 0, 0, 0);
            }
            &:hover {
                text-decoration: none; // background-color: rgb(248, 249, 250);
            }
        }
    }
    &-field {
        margin: 0.5rem 1rem;
        span {
            user-select: none;
        }
    }
}

.btn-tg {
    color: #fff !important;
    background-color: #0088cc;
    &:hover {
        background-color: lighten(#0088cc, 5%);
    }
}

.notifications {
    position: relative;
    .notification-trigger {
        // top: 0;
        // right: -8px;
        position: relative;
        text-decoration: none;
        padding: 10px 0;
        .badge {
            top: 6px;
            right: 1px;
            font-size: 10px;
            font-size: 0.6em;
        }
    }
    .dropdown-menu {
        top: 46px;
        right: -10px;
        left: initial;
        min-width: 250px;
        .dropdown-item {
            white-space: normal;
            padding: 0.25rem 0.75rem;
            &:active {
                color: initial;
                background-color: #eee;
            }
        }
    }
}

.fa-fix {
    vertical-align: 0;
}

.show-menu-enter-active,
.show-menu-leave-active {
    transition: .2s ease-in-out;
}

.show-menu-enter,
.show-menu-leave-to {
    transform: translateX(0);
}

.fade-out-enter-active,
.fade-out-leave-active {
    transition: .2s ease-in-out;
}

.fade-out-enter,
.fade-out-leave-to {
    transform: translateY(-20px);
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: .2s ease-in-out;
}

.fade-enter,
.fade-leave-to {
    transform: translateY(20px);
    opacity: 0;
}

.fade-2-enter-active,
.fade-2-leave-active {
    transition: .2s ease-in-out;
}

.fade-2-enter,
.fade-2-leave-to {
    opacity: 0;
}

.underline-dash {
    display: inline-block;
    border-bottom: 1px dotted #aaa;
}

.chips {
    .col {
        max-width: 300px;
    }
    .chip {
        border-radius: 50px;
        padding: 8px 16px 8px 8px;
        color: theme-color('light-grey');
        background-color: theme-color('light');
        cursor: pointer;
        &:hover {
            background-color: darken(theme-color('light'), 5%);
        }
        &-title {
            font-size: 1.5em;
            white-space: nowrap;
            padding: 0 5px;
        }
        .avatar {
            opacity: 0.5;
        }
        &.selected {
            color: inherit;
            background-color: theme-color('cloudy');
            .avatar {
                opacity: 1;
            }
            &:hover {
                background-color: lighten(theme-color('cloudy'), 5%);
            }
        }
        .fa-repeat:hover {
            transition: color 0.2s ease-in-out;
            color: theme-color('success');
            cursor: pointer;
        }
        .fa-times:hover {
            transition: color 0.2s ease-in-out;
            color: theme-color('danger');
            cursor: pointer;
        }
    }
}

.flex-table {
    .header-row {
        @extend .row;
        padding: 12px;
        color: theme-color('cloudy');
        font-weight: bold;
        border-radius: 5px;
        background: theme-color('light');
    }
    .body {
        max-height: 68vh;
        transition: max-height 0.3s ease;
        overflow: auto;
        &.small-body {
            max-height: 48vh;
        }
    }
    .body-row {
        @extend .row;
        margin: 0;
        align-items: center;
        padding: 20px 10px;
        border-bottom: 1px solid theme-color('cloudy');
        &.show-items {
            align-items: start;
        }
        &.removed {
            background-color: theme-color('light');
            .h4.m-0 {
                opacity: 0.2
            }
        }
    }
}