.mw-500 {
  max-width: 450px;
}
.rounded-half {
  border-radius: 28px;
}
.text-translucent {
  color: rgba(255, 255, 255, .7)!important;
}


.notifs {
  position: relative;
  box-shadow: 0px 0px 50px rgba(0,0,0,.1);
  border-radius: 5px;
  .list-group-item {
    z-index: 1;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)!important;
    margin-bottom: 0;
    &:not(:first-child) {
      cursor: pointer;
    }
    &:not(:first-child):hover {
      background-color:  rgb(218, 224, 229)!important;
    }
  }
  &__wrap {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
  }
  &::before {
    content: '';
    position: absolute;
    top: -18px;
    right: calc(50% - 17px);
    z-index: 60;
    border-style: solid;
    border-width: 0px 17.5px 18px;
    border-color: rgb(248, 249, 250) rgba(0, 0, 0, 0) rgb(248, 249, 250);
  }
}

.user {
  &-menu {
    position: relative;
    // box-shadow: 0px 0px 50px rgba(0,0,0,.1);
    &__item {
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      text-decoration: none;
      padding: 10px;
      &_last {
        border-bottom: 1px solid rgba(0, 0, 0, 0);
      }
      &:hover {
        text-decoration: none;
        background-color: rgb(248, 249, 250);
      }
    }
  }
  &-field {
    margin: 0.5rem 1rem;
    span {
      user-select: none;
    }
  }

}

.avatar {
  max-width: 50px;
  max-height: 50px;
  padding: 0;
}

.font-weight-500 {
  font-weight: 500;
}

.channel {
  &_header {
    font-weight: 500;
    color: rgb(202,208,224);
  }
  .fa {
    font-size: 20px;
    color: rgb(222,226,238);
  }
  .fa.active {
    color: rgb(251,186,86);
  }
}
