body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100vh
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    left: 0;
    top: 0;
    transition: 0.2s ease-in-out;
    @include media-breakpoint-up(lg) {
        padding-bottom: 55px;
    }
    &--toggled {
        left: 196px;
    }
}

.handle-long-lines {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.container-wrap {
    padding-top: 62px;
    &--chat {
        padding-top: 0;
    }
    @include media-breakpoint-up(md) {
        padding-top: 92px;
    }
}

.pointer {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.add-channel {
    border-top: 1px solid #dee2e6;
    @include media-breakpoint-up(md) {
        border-top: 0;
    }
}

.posts {
    .nav-link {
        background-color: theme-color('light');
        color: theme-color('slate');
        padding: 10px 48px;
        margin-right: 12px;
    }
    .nav-link.active {
        background-color: theme-color('slate');
        color: theme-color('light');
    }
}

.post-preview.popover {
    min-width: 360px;
    left: initial;
    right: 0;
    top: 22px;
    .arrow {
        right: 22%;
    }
    .preview {
        min-height: inherit;
    }
}

.drop-selected-btn {
    position: absolute;
    bottom: -26px;
    cursor: pointer;
}

.catalog-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-bottom: 25px;
    @include media-breakpoint-up(md) {
        margin-top: -125px;
        margin-bottom: 30px;
    }
}

.table-cell {
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    line-height: 20px;
    color: #576077;
    text-align: center;
    @include media-breakpoint-up(md) {
        font-weight: bold;
    }
}

.table-checkbox {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -14px;
    @include media-breakpoint-up(md) {
        margin-top: 0;
        align-self: center;
    }
}

.catalog-avatar {
    width: 40px;
    height: 40px;
    @include media-breakpoint-up(md) {
        width: 55px;
        height: 55px;
    }
}

.channel-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    @include media-breakpoint-up(md) {
        font-weight: 600;
    }
}

.channel-category {
    font-size: 12px;
    line-height: 15px;
    color: #C0C7DA;
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.fade-in,
.swal2-container.swal2-shown {
    animation: fadein 0.3s;
}

.tabs-row {
    justify-content: space-between;
    margin-bottom: 11px;
    @include media-breakpoint-up(md) {
        justify-content: start;
    }
}

.tabs {
    margin-bottom: 25px;
    @include media-breakpoint-up(md) {
        margin-bottom: 50px;
    }
}

.tab {
    width: 113px;
    padding: 10px 0;
    background-color: #dee2ee;
    color: #576077;
    border-radius: 3px 3px 0 0;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    @include media-breakpoint-up(md) {
        width: initial;
        padding: 0.75rem;
        margin-right: 13px;
        font-size: 16px;
    }
    &--active {
        background-color: #576076;
        color: #f2f2f2;
    }
}

.user {
    &-menu {
        position: relative; // box-shadow: 0px 0px 50px rgba(0,0,0,.1);
        &__item {
            display: block; // border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            text-decoration: none;
            color: rgb(111, 119, 138) !important; // padding: 10px;
            &_last {
                border-bottom: 1px solid rgba(0, 0, 0, 0);
            }
            &:hover {
                text-decoration: none; // background-color: rgb(248, 249, 250);
            }
        }
    }
    &-field {
        margin: 0.5rem 1rem;
        span {
            user-select: none;
        }
    }
}

.btn-tg {
    color: #fff !important;
    background-color: #0088cc;
    &:hover {
        background-color: lighten(#0088cc, 5%);
    }
}

.fa-fix {
    vertical-align: 0;
}

.show-menu-enter-active,
.show-menu-leave-active {
    transition: .2s ease-in-out;
}

.show-menu-enter,
.show-menu-leave-to {
    transform: translateX(0);
}

.fade-out-enter-active,
.fade-out-leave-active {
    transition: .2s ease-in-out;
}

.fade-out-enter,
.fade-out-leave-to {
    transform: translateY(-20px);
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: .2s ease-in-out;
}

.fade-enter,
.fade-leave-to {
    transform: translateY(20px);
    opacity: 0;
}

.fade-2-enter-active,
.fade-2-leave-active {
    transition: .3s ease-in-out;
}

.fade-2-enter,
.fade-2-leave-to {
    opacity: 0;
}

.underline-dash {
    display: inline-block;
    border-bottom: 1px dotted #aaa;
}

.chips {
    .col {
        max-width: 300px;
    }
    .chip {
        border-radius: 50px;
        padding: 8px 16px 8px 8px;
        color: theme-color('light-grey');
        background-color: theme-color('light');
        cursor: pointer;
        &:hover {
            background-color: darken(theme-color('light'), 5%);
        }
        &-title {
            font-size: 1.5em;
            white-space: nowrap;
            padding: 0 5px;
        }
        .avatar {
            opacity: 0.5;
        }
        &.selected {
            color: inherit;
            background-color: theme-color('cloudy');
            .avatar {
                opacity: 1;
            }
            &:hover {
                background-color: lighten(theme-color('cloudy'), 5%);
            }
        }
        .fa-repeat:hover {
            transition: color 0.2s ease-in-out;
            color: theme-color('success');
            cursor: pointer;
        }
        .fa-times:hover {
            transition: color 0.2s ease-in-out;
            color: theme-color('danger');
            cursor: pointer;
        }
    }
}

.flex-table {
    .header-row {
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        color: theme-color('cloudy');
        font-weight: bold;
        border-radius: 5px;
        background: theme-color('light');
    }
    .body {
        max-height: 68vh;
        transition: max-height 0.3s ease;
        overflow: auto;
        &.small-body {
            max-height: 48vh;
        }
    }
    .channel-table-body {
        height: 68vh;
    }
    .body-row {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        align-items: center;
        padding: 20px 0;
        &:not(:last-child) {
            border-bottom: 2px solid #F6F7FB;
        }
        &.show-items {
            align-items: start;
        }
        &.removed {
            background-color: theme-color('light');
            .h4.m-0 {
                opacity: 0.2
            }
        }
        &--mobile {
            border-bottom: 2px solid #F6F7FB;
        }
        @include media-breakpoint-up(md) {
            padding: 20px 10px;
            border-bottom: 1px solid #dee2e6 !important;
        }
    }
    .support-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &:first-child {
            margin-bottom: 28px;
        }
    }
}

.channel-status {
    max-width: 45%;
}

.opacity-50 {
    opacity: 0.5;
}

.support-icons {
    display: flex;
    flex-direction: row;
    padding: 15px 65px;
    background-color: #F6F7FB;
    border-radius: 5px;
    &__item svg {
        width: 20px;
        fill: #C0C7DA;
    }
}

.text-gray {
    color: #c0c7da
}

.text-18px {
    font-size: 18px;
    line-height: 22px;
}

.no-channels {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    @include media-breakpoint-up(md) {
        margin-top: 75px;
    }
    &__dog {
        position: relative;
        left: 10px;
        width: 80px;
        height: auto;
        margin-bottom: 25px;
        @include media-breakpoint-up(md) {
            left: 30px;
            width: 140px;
            margin-bottom: 28px;
        }
    }
    &__text {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 25px;
        color: rgba(87, 96, 119, 0.5);
        font-weight: 500;
        text-align: center;
        @include media-breakpoint-up(md) {
            margin-bottom: 35px;
            font-size: 24px;
            line-height: 29px;
        }
    }
}
