.header {
    background-color: theme-color('light');
    transition: background-color 0.2s ease-out;
    &__container {
        position: relative;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0.25rem;
        max-width: 100%;
        transition: all 0.2s ease-in-out;

        &--toggled {
            left: 196px;
        } 
        @include media-breakpoint-up(lg) {
            max-width: 960px;
            flex-direction: row;
            padding: 0.75rem 0;
        }
        @include media-breakpoint-up(xl) {
            max-width: 1140px;
        }
    }
    .logo .cls-1 {
        fill: theme-color('slate') !important;
    }
    .nav-item {
        padding: 0 0.5em;
        &--user-mobile {
            display: flex;
            align-items: center;
            padding: 10px 0.25rem;
            margin-bottom: 40px;
            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
        &--exit {
            opacity: 0.5;
        }
        &__icon {
            display: flex;
            align-items: center;
            width: 30px;
            & svg {
                width: 16px;
                height: 16px;
            }
            &__exit svg {
                fill: black;
            }
        }
        &--aside {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 15px;
            @include media-breakpoint-up(lg) {
                display: block;
                padding: 0.25rem;
                margin-bottom: 0;
            }
        }
    }
    .nav {
        &--top {
            position: fixed;
            z-index: 1050;
            top: 0;
            left: -196px;
            transition: all 0.2s ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 196px;
            height: 100%;
            padding-left: 17px;
            box-sizing: border-box; // transform: translateX(-196px);
            background-color: #f8f9fa;
            overflow: hidden;
            @include media-breakpoint-up(lg) {
                transform: translateX(0);
                align-items: center;
                flex-direction: row;
                width: auto;
                height: auto;
                padding-left: 0;
                position: static;
                background-color: transparent;
            }

            &--toggled {
                left: 0;
            }
        }


        &--bottom {
            align-items: center;
            width: 100%;
            position: relative;
            @include media-breakpoint-up(lg) {
                width: auto;
            }
            .nav-item {
                margin-right: 11px;
            }
            .notifications {
                margin-right: 0;
            }
        }
        .nav-link {
            // display: flex;
            position: relative;
            font-weight: 500;
            color: theme-color('slate');
            text-decoration: none;
            padding: 0rem 0rem;
            background-color: transparent;
            &:hover {
                text-decoration: none;
                @include media-breakpoint-up(lg) {
                    text-decoration: underline;
                }
            }
            &.active:not(.balance):not(.nav-link--user) {
                text-decoration: none;
                @include media-breakpoint-up(lg) {
                    text-decoration: underline;
                }
            }
            @include media-breakpoint-up(lg) {
                margin: 0.5rem 1rem;
            }
        }
        .fa {
            color: #000;
        }
    }
    .link {
        color: theme-color('slate');
    }
    .navbar {
        height: 80px;
        &__logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 32px;
            @include media-breakpoint-up(lg) {
                position: static;
            }
            .logo {
                width: 100%;
                height: 42px;
                padding: 5px 0;
                svg {
                    height: 100%;
                }
            }
            @include media-breakpoint-up(lg) {
                width: 200px
            }
        }
        &__cross {
            display: flex;
            align-items: center;
            & svg {
                width: 16px;
                height: 100%;
            }
        }
        &__burger {
            display: flex;
            align-items: center;
            & svg {
                width: 22px;
                height: 100%;
            }
        }
        &__question svg {
            width: 20px;
            height: 100%;
        }
        &__wallet svg {
            width: 16px;
            height: 100%;
        }
        &__bell svg {
            position: relative;
            top: 0;
            width: 16px;
            height: 100%;
        }
        &__sum {
            position: relative;
            top: 2px;
        }
        .navbar-brand {
            width: 200px;
        }
        &_main {
            position: absolute;
            width: 100%;
            background: transparent !important;
            .nav-link {
                color: theme-color('text-white');
                padding: 0;
                margin: 0.5rem 1rem;
            }
        }
    }
    .advert-switch {
        margin-top: 60px;
        margin-bottom: 50px;
        @include media-breakpoint-up(lg) {
            margin-top: 0;
            margin-bottom: 0;
        }
        .title {
            margin-bottom: 0;
            float: left;
            cursor: pointer;
            font-weight: 500;
            @include media-breakpoint-up(lg) {
                font-weight: bold;
            }
        }
        .switch {
            float: right;
            margin-left: 10px;
            .onoffswitch {
                width: 32px;
                &-label {
                    border: none
                }
                &-inner::after {
                    height: 18px;
                    background-color: theme-color('purplish');
                }
                &-switch {
                    width: 14px;
                    height: 14px;
                    right: 16px;
                }
                .onoffswitch-checkbox:checked+.onoffswitch-label {
                    .onoffswitch-inner::after {
                        background-color: #fff !important;
                    }
                    .onoffswitch-switch {
                        background-color: #000;
                    }
                }
            }
        }
    }
    &.is-advert {
        background: #853d5e;
        svg {
            fill: #fff;
        }
        @include media-breakpoint-up(lg) {
            background: -moz-linear-gradient(left, #853d5e 0%, #4a3172 100%);
            background: -webkit-linear-gradient(left, #853d5e 0%, #4a3172 100%);
            background: linear-gradient(to right, #853d5e 0%, #4a3172 100%);
        }
        background-position: center;
        background-size: cover;
        .logo .cls-1 {
            fill: #fff !important;
        }
        .nav-link,
        .fa:not(.fa-times),
        .advert-switch {
            color: #fff;
        }
    }
    .is-advert {
        background: #853d5e;
        svg {
            fill: #fff;
        }
        @include media-breakpoint-up(lg) {
            background: transparent;
        }
    }
    .notifications .dropdown-menu {
        max-height: 200px;
        overflow-y: auto;
    }
    .notifications {
        position: relative;
        .notification-trigger {
            // top: 0;
            // right: -8px;
            position: relative;
            text-decoration: none;
            padding: 10px 0;
            .badge {
                position: absolute;
                top: 6px;
                right: -12px;
                font-size: 10px;
                font-size: 0.6em;
            }
        }
        .dropdown-menu {
            top: 46px;
            right: -10px;
            left: initial;
            min-width: 250px;
            .dropdown-item {
                white-space: normal;
                padding: 0.25rem 0.75rem;
                &:active {
                    color: initial;
                    background-color: #eee;
                }
            }
        }
    }
}

.footer-nav {
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: auto;
    background-color: theme-color('light');
    transition: background-color 0.2s ease-out;

    @include media-breakpoint-up(lg) {
        position: fixed;
    }

    a {
        color: inherit;
    }
    &.is-advert {
        background: #853d5e;
        color: #fff;

        @include media-breakpoint-up(lg) {
            background: -moz-linear-gradient(left, #853d5e 0%, #4a3172 100%);
            background: -webkit-linear-gradient(left, #853d5e 0%, #4a3172 100%);
            background: linear-gradient(to right, #853d5e 0%, #4a3172 100%);
            background-position: center;
            background-size: cover;
        }
    }
    &__item {
        margin-bottom: 8px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }
    }
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-breakpoint-up(lg) {
        flex-direction: row;
    }
}

.user-field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0;
    margin-right: 15px;
    background-color: #50BCED;
    border-radius: 50%;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    @include media-breakpoint-up(lg) {
        margin: 0;
    }
}