$theme-colors: ( primary: #50BCED, success:#44CD85, warning: #FFC000, danger:#eb5757, slate: #576077, text-white: #DEE2EE, light-grey:#C0C7DA, cloudy:#c0c7da, purplish:#843F5F);
$font-family-sans-serif: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-weight: 600;
$font-size-base:0.8rem;
$yiq-contrasted-threshold: 200;
$input-group-addon-bg: #DEE2EE;
$input-border-color: #DEE2EE;
$body-color: #576077;