<div class="container py-3">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-secondary mb-0">Мои каналы</h1>
        <router-link v-if="channels.length"
            class="btn btn-primary"
            :to="{ name: 'channels:create' }">Добавить канал</router-link>
    </div>
    <div class="flex-table mt-4"
        v-if="channels.length">
        <div class="header-row">
            <div class="col-1">
                Запросы
            </div>
            <div class="col-3">
                Канал
            </div>
            <div class="col">
                Описание
            </div>
            <div class="col">
                Подписчиков
            </div>
            <div class="col">
                ER
            </div>
            <div class="col">
                Статус
            </div>
        </div>
        <div class="body-row"
            v-for="ch in channels"
            :key="ch.channelId">
            <div class="col-1 p-2">
                <button class="btn btn-sm"
                    :class="ch.postOrders&&ch.postOrders.length > 0?'btn-success':'btn-light'"
                    @click="toggleOrders(ch)">
                    <b>{{(ch.postOrders&&ch.postOrders.length)||0}}</b>
                </button>
            </div>
            <div class="col-3">
                <div class="form-row">
                    <div class="col-3">
                        <avatar :src="'/images/channels/'+ch.telegramId+'/'+ch.photoId+'.jpg'"
                            :circle="true" />
                    </div>
                    <div class="col-9">
                        <router-link :to="{name:ch.userId === user.userId?'channels:update':'channels:show',params:{id:ch.channelId}}">
                            <b>{{ch.title}}</b>
                        </router-link>
                        <br>{{ch.categories || 'Без категории'}}</div>
                </div>
            </div>
            <div class="col">{{(ch.description || "Нет описания") | cutLongStr}}</div>
            <div class="col h4 m-0">
                <telestat-link :channel="ch.username"
                    v-if="ch.subscriberCount>=300"
                    :text="$options.filters.cutSum(ch.subscriberCount)" />
                <span v-else>{{ch.subscriberCount}}</span>
            </div>
            <div class="col h4">
                {{ch.engagementRate}}%
            </div>
            <div class="col">
                {{channelStatuses[ch.status]}}
            </div>
            <div class="col-11 offset-1 my-2"
                v-if="ch.showOrders">
                <div class="flex-table"
                    v-if="ch.postOrders && ch.postOrders.length">
                    <div class="header-row">
                        <div class="col-1">Номер</div>
                        <div class="col">Время</div>
                        <div class="col">Статус</div>
                        <div class="col">Условия</div>
                        <div class="col">Цена</div>
                        <div class="col">Действия</div>
                    </div>
                    <div class="body-row border-0"
                        :key="post.postOrderId"
                        v-for="post in ch.postOrders"
                        :class="{'text-muted':post.publishAt <= now}">
                        <div class="col-1">{{post.humanReadableNumber}}</div>
                        <div class="col h5">{{post.publishAt*1000 | parseDate(true)}}
                            <br>{{offerTime(post.channelOffer)}}</div>
                        <div class="col-3">
                            <div class="form-row ">
                                <div class="col-3">
                                    <avatar :src="'/images/channels/'+post.channelOffer.channel.telegramId+'/'+post.channelOffer.channel.photoId+'.jpg'"
                                        :circle="true" />
                                </div>
                                <div class="col-9 pl-4">
                                    <router-link :to="{
                                          name:post.channelOffer.channel.userId === user.userId?'channels:update':'channels:show',
                                          params:{id:post.channelOffer.channel.channelId}
                                      }">
                                        <b>{{post.channelOffer.channel.title}}</b>
                                    </router-link>
                                    <br>{{post.channelOffer.channel.categories || 'Без категории'}}</div>
                            </div>
                        </div>
                        <div class="col">
                            <span v-if="post.status !== 3 && !post.isPosted">{{postStatuses[post.status]}}</span>
                            <a v-else
                                target="_blank"
                                :href="`https://t.me/${post.channelOffer.channel.username}/${post.messageId}`">{{postStatuses[post.status]}}</a>
                            <span v-show="post.status === 1"
                                class="text-danger">{{post.declineReason}}</span>
                        </div>
                        <div class="col h5">{{post.sum | centToRub}}</div>
                        <div class="col">
                            <button v-if="post.status === 2"
                                class="btn btn-link m-0 p-0 text-success"
                                @click="approvePost(post)">
                                <i class="fa fa-check fa-2x"></i>
                            </button>
                            <button v-if="post.status === 2"
                                class="btn btn-link m-0 p-0 text-danger"
                                @click="declinePost(post)">
                                <i class="fa fa-times fa-2x"></i>
                            </button>
                            <button class="btn btn-link p-0 m-0 text-dark"
                                @click="togglePreview(ch,post)"
                                @blur="togglePreview(ch,post,false)">
                                <i class="fa fa-2x"
                                    :class="post.showPreview?'fa-eye-slash':'fa-eye'"></i>
                            </button>
                            <div class="popover fade show bs-popover-bottom post-preview"
                                v-show="post.showPreview">
                                <div class="arrow"></div>
                                <div class="popover-body">
                                    <post-preview :post="mapToPreview(post)"></post-preview>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="text-center text-secondary"
        v-else>
        Вы еще не добавили ни одного канала
        <br>
        <router-link class="btn btn-primary my-3"
            :to="{ name: 'channels:create' }">Добавить канал</router-link>
    </h4>
</div>