<div class="container py-3">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-secondary mb-0">Мои каналы</h1>
        <router-link v-if="channels.length"
            class="btn btn-primary"
            :to="{ name: 'channels:create' }">Добавить канал</router-link>
    </div>
    <div class="flex-table mt-4"
        v-if="channels.length">
        <div class="header-row">
            <div class="col-1">
                Запросы
            </div>
            <div class="col-3">
                Канал
            </div>
            <div class="col">
                Описание
            </div>
            <div class="col">
                Подписчиков
            </div>
            <div class="col">
                Действия
            </div>
        </div>
        <div class="body-row"
            v-for="ch in channels"
            :key="ch.channelId">
            <div class="col-1">
                <router-link :to="{name:'posts:list',params:{tab:'inbound'}}"
                    class="badge p-2"
                    :class="ch.postOrdersCount > 0?'badge-success':'badge-light'">{{ch.postOrdersCount||0}}</router-link>
            </div>
            <div class="col-3">
                <div class="form-row">
                    <div class="col-3">
                        <avatar :src="'/images/channels/'+ch.telegramId+'_'+ch.photoId+'.jpg'"
                            :circle="true" />
                    </div>
                    <div class="col-9">
                        <b>{{ch.title}}</b>
                        <br>{{ch.categories || 'Без категории'}}</div>
                </div>
            </div>
            <div class="col">{{ch.description | cutLongStr}}</div>
            <div class="col h4 m-0">
                <telestat-link :channel="ch.username"
                    v-if="ch.subscriberCount>=300"
                    :text="$options.filters.cutSum(ch.subscriberCount)" />
                <span v-else>{{ch.subscriberCount}}</span>
            </div>
            <div class="col">
                <router-link class="m-2 text-secondary"
                    :to="{ name: 'channels:update',params:{ id:ch.channelId } }">
                    <i class="fa fa-2x fa-pencil"></i>
                </router-link>
                <a class="m-2 text-secondary"
                    href="#deleteChannel"
                    @click="deleteChannel(ch)">
                    <i class="fa fa-2x fa-trash"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- <div class="row p-3"
        v-for="channel in channels"
        :key="channel.channelId">
        <div class="col-1">
            <router-link :to="{name:'posts:list',params:{tab:'inbound'}}"
                class="badge p-2"
                :class="channel.postOrdersCount > 0?'badge-success':'badge-light'">0</router-link>
        </div>
        <div class="col-1">
            <avatar :src="'/images/channels/'+channel.channelId+'_'+channel.photo_id"
                :circle="true" />
        </div>
        <div class="col-2">
            <router-link class="text-secondary"
                :to="{ name: 'channels:update',params:{ id:channel.channelId } }">
                {{ channel.title }}
            </router-link>
            <br> {{channel.description | cutLongStr}}
        </div>
        <div class="col-2">
            <span v-for="categ in channel.categoryItem">{{categ}}</span>
        </div>
        <div class="col-2">{{channel.subscriberCount | cutKilo}}</div>
        <div class="col-2">
            <span v-if="channel.cheapestOffer.channelOfferId">{{offerTime(channel.cheapestOffer)}}-{{channel.cheapestOffer.inTopHours}}/{{channel.cheapestOffer.inFeedHours}} {{channel.cheapestOffer.price | centToRub}}</span>
            <span v-else>-</span>
        </div>
        <div class="col-2">

            <router-link class="m-2 text-secondary"
                :to="{ name: 'channels:update',params:{ id:channel.channelId } }">
                <i class="fa fa-lg fa-pencil"></i>
            </router-link>
            <a class="m-2 text-secondary"
                href="#deleteChannel"
                @click="deleteChannel(channel)">
                <i class="fa fa-lg fa-trash"></i>
            </a>

        </div>
    </div> -->
    <!-- </div> -->
    <h4 class="text-center text-secondary"
        v-else>
        Вы еще не добавили ни одного канала
        <br>
        <router-link class="btn btn-primary my-3"
            :to="{ name: 'channels:create' }">Добавить канал</router-link>
    </h4>
</div>