<div class="container py-3 px-0">
    <div class="d-flex flex-column">
        <div class="col-2 mb-3">
            <h1>Техподдержка</h1>
        </div>
        <div class="col-4 offset-3 p-0"
             v-if="!ticketId">
            <div class="form-group mb-2">
                <label class="mb-1">
                    <b>Тема</b>
                </label>
                <search-input placeholder="Выберите тему"
                              :options="topics"
                              v-model="selectedTopic" />
            </div>
        </div>
        <div class="col-6 offset-3 mb-4 p-0">
            <div class="form-group form-group-textarea">
                <label class="mb-1">
                    <b>Сообщение</b>
                </label>
                <support-textarea v-model="newMessage" />
                <button class="btn btn-success btn-md float-right"
                        type="button"
                        @click="ticketId ? createMessage() : createTicket()">Отправить</button>
            </div>
        </div>
        <div class="col-6 offset-3 p-0"
             v-if="ticketId">
            <h3 class="mb-3">{{ topic }}</h3>
            <!-- <div class="message col-10 mb-3 float-right">
                <h6 class="message__author text-right">Техподдержка</h6>
                <div class="message__content message__content--support">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. In, deserunt voluptate? Ipsum error, provident quia ut repellat
                    accusantium suscipit sed repellendus tenetur atque aliquid perferendis, rem mollitia voluptatibus natus
                    delectus?
                </div>
            </div> -->
            <div :class="[message.isSupport ? 'float-right' : 'float-left', 'message col-10 mb-3']"
                 v-for="message in messages">
                <h6 :class="[message.isSupport ? 'text-right' : '', 'message__author']">{{ message.isSupport ? 'Техподдержка' : 'Вы' }}</h6>
                <div :class="[message.isSupport ? 'message__content--support float-right' : '', 'message__content float-left']">
                    <div class="message__text mb-1">{{ message.content }}</div>
                    <small class="message__date">{{ message.createdAt }}</small>
                </div>
            </div>
        </div>
    </div>
</div>