<div>
    <div class="form-row chips"
         v-if="innerChannels.length && isChips">
        <div class="col-6 col-md-4 col-lg-3 mb-2"
             :key="ch.channelId"
             v-for="ch in innerChannels">
            <div class="chip d-flex align-items-center justify-content-between"
                 @click="$router.push({name:'channels:show',params:{username:ch.username}})">
                <avatar :src="'/images/channels/'+ch.telegramId+'/'+ch.photoId+'.jpg'"
                        class="float-left"
                        :circle="true" />
                <div class="title-block">
                    <b class="chip-title overflow-ellipsis">
                        <div>{{ch.title}}</div>
                    </b>
                    <div class="float-left">{{ch.cheapestTimeFrame.priceWithCommission | centToRub}}</div>
                    <div class="float-right">{{ch.cheapestTimeFrame.inTopHours}}/{{ch.cheapestTimeFrame.inFeedHours||'∞'}}</div>
                </div>
                <span class="close-icon"
                      @click="toggleChannel(ch,true)">&times;</span>
            </div>
        </div>
    </div>
    <div class="flex-table"
         v-if="innerChannels.length && !isChips">
        <div class="header-row px-0 px-md-4">
            <div class="col-3 px-0 pl-2 d-none d-md-block">Канал</div>
            <div class="col px-0 d-none d-md-block text-center">Размещения</div>
            <div class="col px-0 text-center">
                <i class="fa fa-lg fa-users"
                   aria-hidden="true"
                   v-if="isMobile"></i>
                <span v-else>Подписчиков</span>
            </div>
            <div class="col px-0 text-center">
                <span v-if="isMobile">ER</span>
                <span v-tooltip="'% активной аудитории'"
                      v-else>ER</span>
            </div>
            <div class="col px-0 text-center">{{ isDesktop ? 'Условия' : '1/24' }}</div>
            <div class="col px-0 text-center">
                <i class="fa fa-lg fa-rub"
                   v-if="isMobile"></i>
                <span v-else>Цена</span>
            </div>
            <div class="col px-0 d-none d-md-block text-center">Выбрать</div>
        </div>
        <div class="body">
            <div class="body-row px-0 px-md-4"
                 :class="{'opacity-50':ch.cheapestTimeFrame.postAmount === 0 || ch.disabled}"
                 :key="i"
                 v-if="ch.cheapestTimeFrame"
                 v-for="(ch, i) in innerChannels">
                <div class="table-cell col-6 col-md-3 offset-1 offset-md-0 d-flex mb-3 mb-md-0">
                    <channel-avatar :channel="ch"
                                    :user="user" />
                </div>
                <div class="table-checkbox col-3 col-md offset-2 offset-md-0 order-md-last">
                    <norm-checkbox v-model="ch.selected"
                                   v-tooltip="ch.cheapestTimeFrame.postAmount === 0 || ch.disabled?'Все размещения на выбранную дату на канале уже заняты':''"
                
                                   :disabled="ch.cheapestTimeFrame.postAmount === 0 || ch.disabled"
                                   @change="toggleChannel(ch)" />
                </div>
                <div class="table-cell col"
                     v-if="isDesktop">
                    {{ch.cheapestTimeFrame.postCount-ch.cheapestTimeFrame.postAmount}}/{{ch.cheapestTimeFrame.postCount}}
                </div>
                <div class="table-cell col">
                    <span>{{ch.subscriberCount | cutSum(1)}}</span>
                </div>
                <div class="table-cell col">{{ ch.engagementRate | cutSum}}%</div>
                <div class="table-cell col">{{ch.cheapestTimeFrame.inTopHours}}/{{ch.cheapestTimeFrame.inFeedHours||'∞'}}</div>
                <div class="table-cell col">{{ ch.cheapestTimeFrame.priceWithCommission | centToRub}}</div>
            </div>
            <!-- <infinite-loading @infinite="infiniteHandler"></infinite-loading> -->
        </div>
    </div>
    <div class="p-4 text-center"
         v-if="!innerChannels.length">
        <h5>{{placeholder}}</h5>
    </div>
</div>