<div>
    <nav class="header fixed-top"
         :class="{ 'navbar_main': !logoVisible, 'is-advert':isAdvert }">
        <div class="container header__container py-md-3"
             :class="{'header__container--toggled': isMenuOpened}">
            <ul class="nav nav--top"
                :class="{'is-advert':isAdvert, 'nav--top--toggled': isMenuOpened }">
                <li class="nav-item nav-item--user-mobile pointer">
                    <router-link tag="div"
                                 class="user-field text-light"
                                 :to="{ name: 'profile' }">{{ getUsername ? getUsername[0] : "U" }}</router-link>
                    <router-link tag="span"
                                 :to="{ name: 'profile' }">
                        <span class="nav-link nav-link--user">Профиль</span>
                    </router-link>
                </li>
                <li class="nav-item d-none d-lg-block order-lg-first mr-3">
                    <router-link :to="{ name: isAuthorized ? 'catalog' : 'login' }"
                                 v-if="logoVisible"
                                 class="navbar__logo">
                        <div class="logo"
                             v-html="LogoDesktop"
                             v-once></div>
                    </router-link>
                </li>
                <li class="nav-item advert-switch order-last order-lg-first d-lg-flex justify-content-between"
                    v-if="isAuthorized">
                    <span class="title"
                          @click.self="isAdvert=!isAdvert"
                          v-if="$mq == 'sm'"> {{ isAdvert? 'Реклама' : 'Владелец' }} </span>
                    <span class="title"
                          @click.self="isAdvert=!isAdvert"
                          v-else> {{ isAdvert? 'Рекламодатель' : 'Владелец канала' }} </span>
                    <on-off v-model="isAdvert"></on-off>
                </li>
                <li class="nav-item nav-item--aside">
                    <div class="nav-item__icon d-lg-none"
                         v-html="Catalog"
                         v-once></div>
                    <router-link :to="{name:'catalog'}"
                                 class="nav-link">Каталог</router-link>
                </li>
                <li class="nav-item"
                    v-if="!isAuthorized">
                    <router-link :to="{name:'faq'}"
                                 v-if="!isAuthorized"
                                 class="nav-link d-none d-lg-block">F.A.Q.</router-link>
                </li>
                <li class="nav-item nav-item--aside"
                    v-if="isAuthorized && !isAdvert">
                    <div class="nav-item__icon d-lg-none"
                         v-html="Channels"
                         v-once></div>
                    <router-link :to="{name:'channels'}"
                                 class="nav-link">Каналы</router-link>
                </li>
                <li class="nav-item nav-item--aside"
                    v-if="isAuthorized && !isAdvert">
                    <div class="nav-item__icon d-lg-none"
                         v-html="Posts"
                         v-once></div>
                    <router-link :to="{name:'posts'}"
                                 class="nav-link">Посты</router-link>
                </li>
                <li class="nav-item nav-item--aside"
                    v-if="isAuthorized && isAdvert">
                    <div class="nav-item__icon d-lg-none"
                         v-html="Posts"
                         v-once></div>
                    <router-link :to="{name:'posts',tab:'outbound'}"
                                 class="nav-link">Постинг</router-link>
                </li>
                <li class="nav-item nav-item--aside d-lg-none">
                    <div class="nav-item__icon"
                         v-html="Payments"
                         v-once></div>
                    <router-link :to="{ name: 'finances' }"
                                 class="nav-link">Платежи</router-link>
                </li>
                <li class="nav-item nav-item--aside d-lg-none">
                    <div class="nav-item__icon"
                         v-html="Support"
                         v-once></div>
                    <router-link :to="{ name: 'support' }"
                                 class="nav-link">Поддержка</router-link>
                </li>
                <li class="nav-item nav-item--aside nav-item--exit order-last d-lg-none"
                    v-if="isAuthorized">
                    <div class="nav-item__icon nav-item__icon--exit"
                         v-html="Exit"
                         v-once></div>
                    <router-link :to="{ name: 'logout' }"
                                 class="nav-link">Выйти</router-link>
                </li>
                <li class="mt-auto pb-4 text-left order-last d-lg-none">
                    <a class="nav-link nav-link--small"
                       href="https://landing.telepay.io/privacy-policy.html"
                       target="_blank">Политика конфиденциальности</a>
                    <a class="nav-link nav-link--small"
                       href="https://landing.telepay.io/terms-and-conditions.html"
                       target="_blank">Условия использования</a>
                    <a class="nav-link nav-link--small"
                       href="https://landing.telepay.io/contacts.html"
                       target="_blank">Контакты</a>
                    <span class="nav-link nav-link--small order-last order-lg-first">©Telepay.io, 2017-{{year}}
                        <br class="d-lg-none"> Все права защищены</span>
                </li>
            </ul>
            <ul class="nav nav--bottom list-unstyled d-flex mb-0"
                v-if="isAuthorized">
                <li class="nav-item d-flex d-lg-none"
                    @click="toggleMenu">
                    <div :class="[isMenuOpened ? 'navbar__cross' : 'navbar__burger',  'pointer']"
                         v-html="isMenuOpened ? Cross : Burger"></div>
                </li>
                <li class="nav-item d-flex d-lg-none">
                    <router-link class="align-self-center"
                                 :to="{name:'faq'}">
                        <div class="navbar__question d-flex pointer"
                             v-html="Question"
                             v-once></div>
                    </router-link>
                </li>
                <li class="nav-item nav-item--logo d-lg-none">
                    <router-link :to="{ name: isAuthorized ? 'catalog' : 'login' }"
                                 v-if="logoVisible"
                                 class="navbar__logo">
                        <div class="logo d-lg-none"
                             v-once
                             v-html="LogoMobile"></div>
                    </router-link>
                </li>
                <li class="nav-item notifications order-2 order-lg-0">
                    <button class="btn btn-link notification-trigger"
                            @click="toggleDD"
                            @blur="blurHandler">
                        <!-- <i class="fa fa-lg fa-bell"></i> -->
                        <div class="navbar__bell d-flex align-items-center pointer"
                             v-html="Bell"
                             v-once></div>
                        <span class="notifications__badge badge badge-pill badge-success"
                              v-show="notificationsCount > 0">{{ notificationsCount }}</span>
                    </button>
                    <transition name="fade">
                        <div class="dropdown-menu shadow show"
                             v-show="showDD"
                             ref="ddmenu">
                            <h6 class="dropdown-header">{{notificationsCount?'Уведомления':'Уведомлений нет'}}
                                <router-link class="fa fa-lg mx-1 fa-cog float-right pointer btn-link"
                                             v-tooltip="'Настройки'"
                                             tag="i"
                                             :to="{name:'profile'}"></router-link>
                                <i class="fa fa-eye-slash fa-lg mx-1 float-right pointer btn-link"
                                   @click="setAllIsRead"
                                   v-tooltip="'Скрыть все'"
                                   v-show="notificationsCount>0"></i>
                            </h6>
                            <span class="dropdown-item"
                                  @click="stopBlur"
                                  v-for="notify in notifications"
                                  :key="notify.notificationId">
                                <div class="form-row"
                                     :class="{'text-muted':notify.loading}">
                                    <div class="col-10"
                                         v-html="notify.text"
                                         v-once></div>
                                    <div class="col-2">
                                        <i class="fa fa-lg pointer text-right text-black-50"
                                           :class="notify.loading?'fa-spin fa-refresh':'fa-times'"
                                           @click="setIsRead(notify)"></i>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </transition>
                </li>
                <li class="nav-item d-flex order-1 order-lg-0 ml-auto ml-lg-0">
                    <router-link :to="{ name: 'finances' }"
                                 class="nav-link nav-link--balance d-flex align-self-center">
                        <span class="navbar__sum order-0 mr-2 order-lg-1 mr-lg-0">{{ (balance.current|| 0) | centToRub(2) }} </span>
                        <span class="navbar__wallet pointer order-1 mr-2 order-lg-0 mr-lg-2"
                              v-html="Wallet"
                              v-once></span>
                    </router-link>
                </li>
                <li class="nav-item d-none d-lg-block m-0">
                    <drop-down>
                        <div slot="trigger"
                             class=" d-flex align-items-center justify-content-center">
                            <div class="user-field text-light font-weight-bold d-flex align-items-center justify-content-center">
                                <span>{{ getUsername[0] }}</span>
                            </div>
                            <div v-html="Angle"
                                 class="v-dropdown__angle mx-2 mt-2"
                                 v-once></div>
                        </div>
                        <template slot="body">
                            <drop-down-menu-item>
                                <router-link class="user-menu__item"
                                             :to="{ name: 'profile' }">Профиль</router-link>
                            </drop-down-menu-item>
                            <drop-down-menu-item>
                                <router-link class="user-menu__item"
                                             :to="{ name: 'finances' }">Финансы</router-link>
                            </drop-down-menu-item>
                            <drop-down-menu-item>
                                <router-link class="user-menu__item"
                                             :to="{name:'faq'}">F.A.Q.</router-link>
                            </drop-down-menu-item>
                            <drop-down-menu-item>
                                <router-link class="user-menu__item"
                                             :to="{ name: 'support' }">Техподдержка</router-link>
                            </drop-down-menu-item>
                            <drop-down-menu-item>
                                <router-link class="user-menu__item"
                                             :to="{ name: 'logout' }">Выйти</router-link>
                            </drop-down-menu-item>
                        </template>
                    </drop-down>
                </li>
            </ul>
        </div>
    </nav>
</div>
