<div>
    <search-input v-model="newWallet.type"
                  placeholder="Выберите тип счета"
                  :options="walletTypes"
                  :custom-option="true">
        <template slot-scope="optionScope"
                  slot="option">
            <div class="text-left"> <img :src="`assets/payments/${optionScope.option.key}.svg`"
                     height="21px"
                     class="mr-2"
                     :alt="optionScope.option.key">{{optionScope.option.label}}</div>
        </template>
        <template slot-scope="matchScope"
                  slot="match">
            <div class="text-left"
                 v-if="matchScope.selected">
                <img :src="`assets/payments/${matchScope.selected.key}.svg`"
                     height="21px"
                     class="mr-2"
                     :alt="matchScope.selected.key"> {{matchScope.selected.label}}</div>
        </template>
    </search-input>
    <input type="text"
           class="form-control my-2"
           :maxlength="numberMaxlength"
           placeholder="Введите номер карты/кошелька"
           v-model="newWallet.number">
    <!-- <masked-input placeholder="4321 4321 4321 4321"
                  v-if="newWallet.type.key==='credit-card'"
                  v-model="creditCardValue"
                  class="form-control my-2"
                  mask="1111 1111 1111 1111" />
    <masked-input placeholder="+7 (987) 654-32-10"
                  v-if="newWallet.type.key==='qiwi'"
                  v-model="qiwiValue"
                  type="tel"
                  class="form-control my-2"
                  mask="\+\7 (111) 111-11-11" /> -->
    <p class="text-danger">Внимательно проверьте правильность заполнения данных, изменить или удалить их возможно будет только через службу поддержки</p>
    <div class="text-center">
        <button class="btn btn-success"
                @click="createWallet(newWallet)"
                :disabled="!newWallet.type ||
                 !newWallet.number ||
                 (newWallet.type.key==='wmr' && newWallet.number.length < 13) ||
                 (newWallet.type.key==='credit-card' && newWallet.number.replace(' ','').length < 16) ||
                 (newWallet.type.key==='qiwi' && newWallet.number.length < 14)
                 ">Добавить</button>
    </div>
</div>